#app {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: whitesmoke
}

/* #363b44 */

/* demo styles
#demo div {
  font-size: 50px;
  font-weight: 800;
} */

.container {
  position: relative;
  width: 100%;
  text-align: center;
  align-content: center
}


.lobby-container {
padding-top: 30px
}

.lobby {
width: 50%;
height: 50%;
margin: auto
}

.avatar {
  height: 75px;
  width: 75px
}

p {
  font-size: 0.75vw
}

.player {
text-align: center;
vertical-align: middle;
height: 100%;
width: 100%;
}

.player-buttons {
  padding-left: 5px;
}

.bet-slider {
  width: 25%;
 margin: auto
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.buttons-container-hidden {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  visibility: hidden
}



.player-font {
  font-size: 1vw
}

.table {
  margin-top: 80px;
  width: 80%;
  height: 80%;
}

.test{
  background-color: white
}

div {
  font-size: 16px;
}

.chipImg {
  width: 22%;
  height: 57%;
}

.chipImgBoard {
  width: 8%;
  height: 16%;
}


.chip-8 {
  height: 10%;
  width: 17%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 70%;
  left: 74%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
  padding: 12px 24px;
}

.chip-7 {
  height: 10%;
  width: 17%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 74%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
  padding: 12px 24px;
}

.chip-6 {
  height: 10%;
  width: 17%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 35%;
  left: 74%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
  padding: 12px 24px;
}

.chip-2 {
  height: 10%;
  width: 17%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 70%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
  padding: 12px 24px;
}

.chip-3 {
  height: 10%;
  width: 17%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
  padding: 12px 24px;
}

.chip-4 {
  height: 10%;
  width: 17%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 35%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
  padding: 12px 24px;
}

.chip-5 {
  height: 10%;
  width: 17%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 30%;
  left: 53%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
  padding: 12px 24px;
}

.chip-1 {
  height: 10%;
  width: 17%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 75%;
  left: 53%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
  padding: 12px 24px;
}
/* Style the button and place it in the middle of the container/image */
.seat-1 {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 10px;

}

.seat-1-active {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 10px;

  border: solid;
  border-color: yellow;

}

.seat-5 {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.seat-5-active {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: solid;
  border-color: yellow
}

.seat-4 {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.seat-4-active {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: solid;
  border-color: yellow
}

.seat-3 {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.seat-3-active {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: solid;
  border-color: yellow
}

.seat-2 {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.seat-2-active {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: solid;
  border-color: yellow
}

.seat-6 {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.seat-6-active {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: solid;
  border-color: yellow
}

.seat-7 {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.seat-7-active {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: solid;
  border-color: yellow
}

.seat-8 {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.seat-8-active {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  display: flex;
  position: absolute;
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #26787c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: solid;
  border-color: yellow
}

.chatbox-container {
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
}

.chatbox {
  text-align: left;
  max-width: 100%;
  height: 150px;
  overflow: scroll;
  background-color: whitesmoke;
  border: inset
}

.board {
  width: 40%;
  height:10%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.playerBoard {
  width: 15%;
  height:8%;
  position: absolute;
  top: 85%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.boardInner-8 {
  display: flex;
  width: 12%;
  height: 15%;
  border-radius: 25px;
  position: absolute;
  top: 65%;
  left: 88%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.boardInner-7 {
  display: flex;
  width: 12%;
  height: 15%;
  border-radius: 25px;
  position: absolute;
  top: 45%;
  left: 88%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.boardInner-6 {
  display: flex;
  width: 12%;
  height:15%;
  border-radius: 25px;
  position: absolute;
  top: 25%;
  left: 88%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.boardInner-2 {
  display: flex;
  width: 12%;
  height:15%;
  border-radius: 25px;
  position: absolute;
  top: 65%;
  left: 12%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}


.boardInner-3 {
  display: flex;
  width: 12%;
  height:15%;
  border-radius: 25px;
  position: absolute;
  top: 45%;
  left: 12%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.boardInner-4 {
  display: flex;
  width: 12%;
  height:15%;
  border-radius: 25px;
  position: absolute;
  top: 25%;
  left: 12%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.boardInner-5 {
  display: flex;
  width: 12%;
  height:15%;
  border-radius: 25px;
  position: absolute;
  top: 15%;
  left: 58%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.boardInner-1 {
  display: flex;
  width: 12%;
  height:15%;
  border-radius: 25px;
  position: absolute;
  top: 80%;
  left: 58%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.boardInner {

  display: flex;

}

.pot {
  text-align: center;
}
.boardCards {
  margin: 10px;
  width: 85%;
  height: 100%;
  overflow: hidden;
}

.playerCards {
  margin: 3px;
  width: 65%;
  height: 85%;
  overflow: hidden;
}

.hiddenBoardCards{
  margin: 10px;
  width: 85%;
  height: 100%;
  overflow: hidden;
  visibility: hidden
}

.winner-message {
  color: white;
  background-color: blue;
  border-radius: 25px;
  text-align: center;
  font-size: 20px;
  padding: 12px 24px;
}

.winner-board {
  width: 40%;
  height:10%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}
